Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:


1.   R

1.   Python
2.   Java

Some of the commonly used libraries used by Data Scientists include:


1.   Mathplot

1.   Array
2.   Skitplot

Data Science Tools


*   Staging

*   Production
*   Development

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [4]:
output = (3*4)+5
# This a simple arithmetic expression to mutiply then add integers
print("output is" , output)

output is 17

In [6]:
output = 200/60
#This will convert 200 minutes to hours by diving by 60
print("output is" , output , "hours")

output is 3.3333333333333335 hours

**Objectives:**

*   List popular languages for Data Science

*   Github
*   Rstudio

<h2>Huy Dang</h2>